name: Publish CD utils images
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "dockerfiles/cd/utils/**/Dockerfile"
      - "dockerfiles/cd/utils/**/*.Dockerfile"
      - "dockerfiles/cd/utils/skaffold.yaml"

jobs:
  skaffold:
    name: publish images with skaffold
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        module: [utils]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          fetch-depth: "0"
          fetch-tags: "true"

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup skaffold
        uses: heypigeonhq/setup-skaffold@v1.1.0
        with:
          version: 2.16.0

      - name: Publish images
        working-directory: dockerfiles/cd/utils
        run: |
          skaffold build \
            --build-concurrency 1 \
            --cache-artifacts \
            --default-repo ghcr.io/pingcap-qe/cd/utils \
            --module ${{ matrix.module }}
